body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    text-decoration: none;
    font-family: serif;
    color:red ;
    background-color: aqua;
    width: 280px;
    padding: 20px 0px;
    text-align: center;
    border-radius: 10px;
}